<div class="popup">
  <h3>Reset Password</h3>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <input formControlName="email" [disabled]="true" />

    <input type="password" formControlName="newPassword" placeholder="New Password" />
    <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" class="error">
      Password must be at least 8 characters, include uppercase, lowercase, number, and symbol.
    </div>

    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
   <div *ngIf="resetForm.errors?.['passwordsMismatch'] && resetForm.get('confirmPassword')?.touched" class="error">
  Passwords do not match.
</div>


    <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
  </form>
</div>
