<app-home></app-home>
<div *ngIf="loading">Loading profile...</div>

<div style="margin-top:20%" class="profile-box" *ngIf="!loading && profile">
  <h2>Welcome, {{ profile.userName }}</h2>
  <p><strong>Email:</strong> {{ profile.email }}</p>
  <p><strong>Bank:</strong> {{ profile.bankName }}</p>
  <p><strong>UserId:</strong> {{ profile.userId}}</p>

  <div class="pin-section">
    <input type="password" [(ngModel)]="pinInput" placeholder="Enter your PIN" />
    <button (click)="checkPIN()">View Balance</button>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>

  <div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <h3>Your Current Balance</h3>
      <p><strong>₹ {{ profile.currentBalance | number:'1.2-2' }}</strong></p>
      <button (click)="closePopup()">Close</button>
    </div>
  </div>
</div>
