<app-home></app-home>
<div style="margin-top:10%;" class="table-container" *ngIf="transactions.length > 0; else noData">
  <h2>Recent Account Transactions</h2>

  <table class="transaction-table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tx of paginatedTransactions; let i = index">
        <td>{{ tx.amountTransactedTime }}</td>
        
       
        <td [ngClass]="getTransactionTypeClass(tx)">
          ₹{{ tx.amountTransacted }}
        </td>

        <td>₹{{ tx.currentAccountBalance }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination controls -->
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

<ng-template #noData>
  <p class="no-transactions">No recent transactions to show.</p>
</ng-template>
