    
<div>
<nav class="navbar navbar-expand navbar-light bg-light ">
    <div class="nav navbar-nav ">
        <a class="nav-item nav-link active" href="/app-update-stock" aria-current="page">
            <img src="favicon.webp" height="50px" widht="40px" alt=""> <span class="visually-hidden">(current)</span>
        </a>
        
        <div class="btn-group" role="group" aria-label="">
             
             <button type="button" class="btn text-white" style="margin-left:1050px;"  [routerLink]="['/app-add-stock']">Add Stocks</button>    
             <button type="button" class="btn text-white "   (click)="logout()">Logout</button>
        </div>
    </div>
</nav>
</div>
 


       

