.btn-deposit {
  background-color: #198754; /* Bootstrap green */
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn-deposit:hover {
  background-color: #157347;
}

.btn-withdraw {
  background-color: #dc3545; /* Bootstrap red */
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn-withdraw:hover {
  background-color: #bb2d3b;
}
.login-box {
  animation: fadeInUp 0.6s ease;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

