<div class="popup" *ngIf="showEmailBox">
  <h3>Forgot Password</h3>
  <form [formGroup]="emailForm" (ngSubmit)="sendOtp()">
    <input formControlName="email" placeholder="Enter your email" />
    <button type="submit" [disabled]="!emailForm.valid">Send OTP</button>
  </form>
</div>

<div class="popup" *ngIf="showOtpBox">
  <h3>Enter OTP</h3>
  <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
    <input formControlName="otp" placeholder="Enter OTP" />
    <button type="submit" [disabled]="!otpForm.valid">Validate OTP</button>
  </form>
  <div *ngIf="showTimer">
    <p>Time left: {{ timer }} seconds</p>
  </div>
</div>

<div *ngIf="successMessage" class="success-box">{{ successMessage }}</div>


<div *ngIf="errorMessage" class="error-box">{{ errorMessage }}</div>

